.home-banner {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-image: url(../img-decor/ignant-design-ligne-roset-daybed-001--720x325.jpg);
  background-position: center right;
  background-size: 150%;
  transition: 6s ease;
  background-repeat: no-repeat;
  position: relative;

  &:hover {
    background-position: left bottom;
    background-size: 110%;
    background-image: url(../img-decor/OS---OOS_private-residence-3.jpg);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 2, 2, 0.1);
    // overlay help
    // https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays/
  }
  //
  //
  .home-banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
    background-color: transparent;

    .box1-banner {
      background-color: transparent;
      width: 50%;
      height: 100%;

      h1 {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .box2-banner {
      background-color: transparent;
      width: 49.5%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      //   z-index: 3;   this is the problem to allow clicking in the nav bar
      h1 {
        color: rgba(14, 14, 14, 0.8);
        z-index: 3;
        text-align: left;
        font-size: 2.8rem;
        padding: 30px 60px 0px 30px;
        margin: 0px 0 50px 0;
        font-family: "Poppins-light";
        line-height: 42px;
        letter-spacing: 1px;
      }
      button {
        z-index: 4;
        background-color: transparent;
        border: 1px solid rgba(14, 14, 14, 0.8);
        padding: 12px 23px;
        margin: 0 60px 0 35px;
        color: #000;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: #000;
          border: 0px solid #000;
          color: #fff;
          padding: 12px 23px;
        }
      }
    }
  }
  //   --------
  .footer-home {
    z-index: 2;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    p {
      color: rgba(14, 14, 14, 0.8);
      font-family: "Arimo";
      font-size: 0.9em;
    }

    .insta {
      display: flex;

      .dot {
        margin: 0 10px 0 0;
        width: 15px;
        height: 15px;
        background-color: rgba(14, 14, 14, 0.8);
        border-radius: 100%;
      }

      p {
        color: rgba(14, 14, 14, 0.8);
        display: inline-block;
        font-family: "Arimo";
        font-size: 0.9em;
      }
    }

    //
    li {
      text-transform: lowercase;
      font-size: 0.9em;
      color: rgba(14, 14, 14, 0.8);
      font-family: "Arimo";
    }
  }
}
